body {
	margin: 0;
	padding: 0;
	font: 12px Tahoma, arial, sans-serif;
}

header {
	font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft Jhenghei', '微软雅黑', sans-serif;
	color: #666;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

.author {
	font-size: 0.6em;
}

.author a {
	color: #5FB7E9;
	text-decoration: none;
}

.author a:hover {
	color: #4B9BC9;
}

#cyou {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	display: block;
}

.circle {
	width: 198px;
	height: 198px;
	border: 2px solid black;
	border-radius: 200px;
}

.red {
	position: absolute;
	top: 0px;
	left: 100px;
}

.orange {
	position: absolute;
	top: 0px;
	left: 100px;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotate(-60deg);
}

.yellow {
	position: absolute;
	top: 0px;
	left: 100px;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotate(-120deg);
}

.green {
	position: absolute;
	top: 0px;
	left: 100px;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotate(180deg);
}

.indigo {
	position: absolute;
	top: 0px;
	left: 100px;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotate(120deg);
}

.blue {
	position: absolute;
	top: 0px;
	left: 100px;
	-webkit-transform-origin: bottom center;
	-webkit-transform: rotate(60deg);
}

.central {
	position: absolute;
	top: 100px;
	left: 100px;
}

.copyright {
	margin: 50px 0 0 0;
	height: 50px;
	color: #999;
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
}

.copyright a {
	color: #999;
	text-decoration: none;
}

.copyright a:hover,
.copyright a:focus {
	outline: none;
	text-decoration: underline;
}
