body {
	margin: 0;
	padding: 0;
	font: 12px Tahoma, arial, sans-serif;
}

header {
	font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft Jhenghei', '微软雅黑', sans-serif;
	color: #666;
	font-size: 50px;
	text-align: center;
	margin-top: 50px;
}

.author {
	font-size: 0.6em;
}

.author a {
	color: #5FB7E9;
	text-decoration: none;
}

.author a:hover {
	color: #4B9BC9;
}

#cyou {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	margin-top: 30px;
	position: relative;
	display: block;
}

.logo {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all 2.0s linear;
	-webkit-transition: all 2.0s linear;
}

#cyou:hover .logo {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
}

.circle {
	position: absolute;
	top: 0px;
	left: 100px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
}

.top {
	position: absolute;
	top: 0px;
	left: 100px;
	overflow: hidden;
}

.top-left {
	overflow: hidden;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}

.bottom-left {
	overflow: hidden;
	transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
}

.bottom {
	overflow: hidden;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.bottom-right {
	overflow: hidden;
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}

.top-right {
	overflow: hidden;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}

.central {
	position: absolute;
	top: 100px;
	left: 100px;
}

.leaf {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
}

.leaf-last {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
}

.red {
	background: linear-gradient(210deg, #E6003C, #FFF);
}

.orange {
	background: linear-gradient(150deg, #F06400, #FFF);
}

.yellow {
	background: linear-gradient(150deg, #FFC800, #FFF);
}

.green {
	background: linear-gradient(150deg, #8CC83C, #FFF);
}

.indigo {
	background: linear-gradient(150deg, #00A0E6, #FFF);
}

.blue {
	background: linear-gradient(150deg, #3250A0, #FFF);
}

.purple {
	background: linear-gradient(180deg, #660099, #FFF);
}

.white {
	background-color: rgba(255, 255, 255, 0.6);
}

.small-leaf {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	border-radius: 200px;
	background-color: white;
	transform-origin: bottom center;
	-webkit-transform-origin: bottom center;
	transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
}

.copyright {
	margin: 50px 0 0 0;
	height: 50px;
	color: #999;
	font-family: Tahoma;
	font-size: 12px;
	text-align: center;
}

.copyright a {
	color: #999;
	text-decoration: none;
}

.copyright a:hover,
.copyright a:focus {
	outline: none;
	text-decoration: underline;
}
