body {
  margin: 0;
  padding: 0;
  font: 12px Tahoma, arial, sans-serif;
}
header {
  font-family: 'Segoe UI Light', 'Segoe UI', 'Microsoft Jhenghei', '微软雅黑', sans-serif;
  color: #666666;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}
.author {
  font-size: 0.6em;
}
.author a {
  color: #5fb7e9;
  text-decoration: none;
}
.author a:hover {
  color: #4b9bc9;
}
#cyou {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  display: block;
}
.logo {
  transform-style: preserve- 3 d;
  -webkit-transform-style: preserve- 3 d;
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
}
#cyou:hover .logo {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
}
.circle {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
}
.top {
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.top-left {
  overflow: hidden;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}
.bottom-left {
  overflow: hidden;
  transform: rotate(-120deg);
  -webkit-transform: rotate(-120deg);
}
.bottom {
  overflow: hidden;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}
.bottom-right {
  overflow: hidden;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
.top-right {
  overflow: hidden;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.central {
  position: absolute;
  top: 100px;
  left: 100px;
}
.leaf {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}
.leaf-last {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}
.red {
  background: radial-gradient(bottom center, circle, white, #e94a41 44%, #e6003c 45%, #bf0008);
  background: -webkit-radial-gradient(bottom center, circle, white, #e94a41 44%, #e6003c 45%, #bf0008);
  background: -moz-radial-gradient(bottom center, circle, white, #e94a41 44%, #e6003c 45%, #bf0008);
  background: -ms-radial-gradient(bottom center, circle, white, #e94a41 44%, #e6003c 45%, #bf0008);
}
.orange {
  background: radial-gradient(bottom center, circle, white, #eb6400 44%, #f08200 45%, #e8350c);
  background: -webkit-radial-gradient(bottom center, circle, white, #eb6400 44%, #f08200 45%, #e8350c);
  background: -moz-radial-gradient(bottom center, circle, white, #eb6400 44%, #f08200 45%, #e8350c);
  background: -ms-radial-gradient(bottom center, circle, white, #eb6400 44%, #f08200 45%, #e8350c);
}
.yellow {
  background: radial-gradient(bottom center, circle, white, #fbc703 44%, #ffe100 45%, #ef8300);
  background: -webkit-radial-gradient(bottom center, circle, white, #fbc703 44%, #ffe100 45%, #ef8300);
  background: -moz-radial-gradient(bottom center, circle, white, #fbc703 44%, #ffe100 45%, #ef8300);
  background: -ms-radial-gradient(bottom center, circle, white, #fbc703 44%, #ffe100 45%, #ef8300);
}
.green {
  background: radial-gradient(bottom center, circle, white, #21ab3c 44%, #8dc21f 45%, #02a23e);
  background: -webkit-radial-gradient(bottom center, circle, white, #21ab3c 44%, #8dc21f 45%, #02a23e);
  background: -moz-radial-gradient(bottom center, circle, white, #21ab3c 44%, #8dc21f 45%, #02a23e);
  background: -ms-radial-gradient(bottom center, circle, white, #21ab3c 44%, #8dc21f 45%, #02a23e);
}
.indigo {
  background: radial-gradient(bottom center, circle, white, #03a0e8 44%, #0085d0 45%, #0055a7);
  background: -webkit-radial-gradient(bottom center, circle, white, #03a0e8 44%, #0085d0 45%, #0055a7);
  background: -moz-radial-gradient(bottom center, circle, white, #03a0e8 44%, #0085d0 45%, #0055a7);
  background: -ms-radial-gradient(bottom center, circle, white, #03a0e8 44%, #0085d0 45%, #0055a7);
}
.blue {
  background: radial-gradient(bottom center, circle, white, #3853a2 44%, #374198 45%, #2c1f86);
  background: -webkit-radial-gradient(bottom center, circle, white, #3853a2 44%, #374198 45%, #2c1f86);
  background: -moz-radial-gradient(bottom center, circle, white, #3853a2 44%, #374198 45%, #2c1f86);
  background: -ms-radial-gradient(bottom center, circle, white, #3853a2 44%, #374198 45%, #2c1f86);
}
.purple {
  background: radial-gradient(bottom center, circle, white, #660099);
  background: -webkit-radial-gradient(bottom center, circle, white, #660099);
  background: -moz-radial-gradient(bottom center, circle, white, #660099);
  background: -ms-radial-gradient(bottom center, circle, white, #660099);
}
.small-leaf {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background-color: white;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
}
.copyright {
  margin: 50px 0 0 0;
  height: 50px;
  color: #999999;
  font-family: Tahoma;
  font-size: 12px;
  text-align: center;
}
.copyright a {
  color: #999999;
  text-decoration: none;
}
.copyright a:hover,
.copyright a:focus {
  outline: none;
  text-decoration: underline;
}
